Tugas 2 IAIK - Pencatat Pengeluaran dari Email.json
{
  "name": "Tugas 2 IAIK - Pencatat Pengeluaran dari Email",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c11136b4-eea7-46dc-bed5-5ec928c92fa7",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "IS6Ekl8emWbJrgK7",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "reid23176si@student.nurulfikri.ac.id",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "19c07227-6eaf-4df6-9aa5-6de490be0d58"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IDCloudHost"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d872a031-fb6d-4f70-9664-fa68b460d794",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "reiduan204@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Grab"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "142d7b47-e732-4e25-a6ef-a2ecdcb73877",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "reiduanazzam@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tokopedia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        -16
      ],
      "id": "078e9e34-1545-404b-9a0b-7f709a5e6fe5",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05902c6b-f1ef-4948-89f1-f3ae5f3b6d25",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "17fb0f58-0afb-43ea-a089-c02370f0d534",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total.*?Rp\\s*([ \\d\\.]+)/s)?.[1].replace(/\\./g, '') }}",
              "type": "string"
            },
            {
              "id": "b8982e28-390d-4356-930a-43eb8ae07bdf",
              "name": "Nominal",
              "value": "Cloud",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -176
      ],
      "id": "95136fbb-febb-4f61-b6cc-45d6a97259eb",
      "name": "IDCloudHost"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb4e1b70-99ff-4a7c-95f5-dba6703addbd",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "e065f4cc-f29d-49e2-ab13-54f81996c27d",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Jumlah Pembayaran.*?([\\d\\.]+)/s)?.[1].replace(/\\./g, '') }}",
              "type": "string"
            },
            {
              "id": "1f40d100-8999-4552-abe0-b16522877bd7",
              "name": "Nominal",
              "value": "=Grab",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        0
      ],
      "id": "ea89d7a9-16d1-4f93-82aa-b4ef2ce9a9ae",
      "name": "Grab"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cb7a58c-f28c-4512-816e-28b2629db3ff",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "07a4a00c-7368-4715-b6e2-3fe405621e03",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Harga\\s*Rp([\\d\\.]+)/)?.[1].replace(/\\./g, '') }}",
              "type": "string"
            },
            {
              "id": "d14ba1cf-4b4a-47e3-be5b-8998c2ac6de4",
              "name": "Nominal",
              "value": "={{ $json.textPlain.match(/Nominal\\s*(.*?)\\s*Waktu/s)?.[1].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        192
      ],
      "id": "f1ce05bf-584f-41a6-9182-ce2cd1e91e85",
      "name": "Tokopedia"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        -16
      ],
      "id": "3396d13b-3b20-41ed-bd69-058031d35278",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GHsMdyYqe_Kzv03_i_D4nN_INBLjm_eDJpc1quLmCMc",
          "mode": "list",
          "cachedResultName": "Pencatat Keuangan dari Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GHsMdyYqe_Kzv03_i_D4nN_INBLjm_eDJpc1quLmCMc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GHsMdyYqe_Kzv03_i_D4nN_INBLjm_eDJpc1quLmCMc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tanggal": "={{ $json.Tanggal }}",
            "Jumlah": "={{ $json.Jumlah }}",
            "Produk": "={{ $json.Nominal }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jumlah",
              "displayName": "Jumlah",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produk",
              "displayName": "Produk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        0
      ],
      "id": "cd8c7387-39d6-458f-88e1-885d07b4216b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pbThuOBEhAUHYUws",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "IDCloudHost",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grab",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tokopedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IDCloudHost": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tokopedia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "22c82ee2-da66-4c9b-b65f-5968fcba0e80",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1201a04715f144c2d49959fa0087564a4bf0849031ef399d09b1b937502bdabb"
  },
  "id": "o8hePL9JR2c9vD2v",
  "tags": []
}