Tugas IAIMSDM 1 - Otomatisasi Onboarding Karyawan.json
{
  "name": "Tugas IAIMSDM 1 - Otomatisasi Onboarding Karyawan",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1WoR5qsFOeia-LpvhmkC2AmX9ByfuKkoyfhTfJfWdiQ0",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WoR5qsFOeia-LpvhmkC2AmX9ByfuKkoyfhTfJfWdiQ0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 644395459,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WoR5qsFOeia-LpvhmkC2AmX9ByfuKkoyfhTfJfWdiQ0/edit#gid=644395459"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -48
      ],
      "id": "dc028201-0ecc-4db0-9c8d-f7547444983f",
      "name": "Sheet Onboarding Karyawan",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "Mbh5wnlj94tQC7Ux",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fce6ad79-a32b-40c2-a9c5-26a925595a34",
              "name": "first_name",
              "value": "={{ $json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "aa2ea807-78cb-4ffa-a2f1-dd67bae6af07",
              "name": "last_name",
              "value": "={{ $json['Last Name'] }}",
              "type": "string"
            },
            {
              "id": "81b4a8c0-736b-437e-9cf5-f49f3103984c",
              "name": "full_name",
              "value": "={{ $json['Full Name'] }}",
              "type": "string"
            },
            {
              "id": "e97b50dc-8112-41db-a10b-31ada59b4152",
              "name": "email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "38ba6374-2d26-4c0b-85a1-3d0022c357b5",
              "name": "start_date",
              "value": "={{ $json['Start Date'] }}",
              "type": "number"
            },
            {
              "id": "0fc50807-91d8-43a0-a0b3-f5370dc18bc8",
              "name": "position",
              "value": "={{ $json.Position }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        -48
      ],
      "id": "ed85bed3-8145-4623-a638-0dd4757df9cd",
      "name": "Data Normalization"
    },
    {
      "parameters": {
        "listId": "69ec5f3256db0e3708192341",
        "name": "Checklist Onboarding",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -16,
        -48
      ],
      "id": "451c6d0b-65de-4ca2-b422-279e42d984be",
      "name": "Membuat Kartu",
      "executeOnce": true,
      "credentials": {
        "trelloApi": {
          "id": "hqFHSaFufCobCgTy",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WoR5qsFOeia-LpvhmkC2AmX9ByfuKkoyfhTfJfWdiQ0",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WoR5qsFOeia-LpvhmkC2AmX9ByfuKkoyfhTfJfWdiQ0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2101542717,
          "mode": "list",
          "cachedResultName": "Checklist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WoR5qsFOeia-LpvhmkC2AmX9ByfuKkoyfhTfJfWdiQ0/edit#gid=2101542717"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        -48
      ],
      "id": "b0762ae2-74ca-4b49-9d16-25e25c751784",
      "name": "Checklist",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pbThuOBEhAUHYUws",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "create",
        "cardId": {
          "__rl": true,
          "value": "69ec60055dcfdee120537e91",
          "mode": "id"
        },
        "name": "={{ $json['Checklist Onboarding Karyawan'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        352,
        -48
      ],
      "id": "86798157-9a91-4542-a4b5-1537b3b6c75c",
      "name": "Membuat Checklist",
      "credentials": {
        "trelloApi": {
          "id": "hqFHSaFufCobCgTy",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      checklist: $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']),\n      sheet: $('Sheet Onboarding Karyawan').first().json\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -48
      ],
      "id": "4ed90813-483b-4f54-8bd6-12920178db2c",
      "name": "Gabung jadi 1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sheet.Email }}",
        "subject": "=Selamat datang di perusahaan, {{ $json.sheet['Full Name'] }}",
        "message": "=Hi {{ $('Sheet Onboarding Karyawan').first().json['First Name'] }}{{ $('Sheet Onboarding Karyawan').first().json['Last Name'] }},\n\nSelamat datang di Perusahaan! Kami sangat senang Anda bergabung sebagai {{ $('Sheet Onboarding Karyawan').first().json.Position }} mulai {{ $('Sheet Onboarding Karyawan').first().json['Start Date'] }}.\n\nBerikut daftar tugas onboarding Anda:\n<ul>\n<li>{{ $('Checklist').all().map(i => i.json['Checklist Onboarding Karyawan']).join('</li><li>') }}</li>\n</ul>\n\nJika ada pertanyaan, reply email ini.\n\nSalam,\nTim HR",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        736,
        -48
      ],
      "id": "daad65fe-4047-4787-8aa5-05f8b3c3bb8a",
      "name": "Mengirim Email",
      "webhookId": "8886c742-495f-477b-a8c9-319647472015",
      "credentials": {
        "gmailOAuth2": {
          "id": "H5XdCWwEGX7l2HeF",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Sheet Onboarding Karyawan": {
      "main": [
        [
          {
            "node": "Data Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Normalization": {
      "main": [
        [
          {
            "node": "Membuat Kartu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Kartu": {
      "main": [
        [
          {
            "node": "Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checklist": {
      "main": [
        [
          {
            "node": "Membuat Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Checklist": {
      "main": [
        [
          {
            "node": "Gabung jadi 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gabung jadi 1": {
      "main": [
        [
          {
            "node": "Mengirim Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ab0281a0-7d67-434e-b674-78bef6baa65b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1201a04715f144c2d49959fa0087564a4bf0849031ef399d09b1b937502bdabb"
  },
  "id": "3VoPfO77qVfWRNbk",
  "tags": []
}