Tugas 5 IAIK - Peringkas Berita Keuangan Harian.json
{
  "name": "Tugas 5 IAIK - Peringkas Berita Keuangan Harian",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        -112
      ],
      "id": "df268784-989c-413e-9fea-1d3290737d55",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.cnbcindonesia.com/market/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        64,
        -288
      ],
      "id": "4c3914fd-c79e-4276-bc73-474be21e8fd7",
      "name": "CNBC Indonesia RSS"
    },
    {
      "parameters": {
        "url": "https://finance.detik.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        64,
        -112
      ],
      "id": "64cac783-122d-43e2-b7a1-9ca46fd4af51",
      "name": "Finance Detik RSS"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        -128
      ],
      "id": "c4499064-5617-4e78-97e5-858827fc8bef",
      "name": "Menggabungkan 2 Output RSS"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        592,
        -128
      ],
      "id": "3d8e2488-e909-4abd-9e7b-e3e444f6d8c5",
      "name": "Membatasi hanya 10"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        -128
      ],
      "id": "c31fa8f3-7604-476e-b6e4-550bdd174095",
      "name": "Unduh halaman web dari setiap URL"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -240,
        96
      ],
      "id": "4131009c-5da2-4b48-a8db-b46587a624fc",
      "name": "Clean kode HTML dan ekstrak"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -32,
        96
      ],
      "id": "81d6aeb1-b883-4419-acaa-5b73afc2f21b",
      "name": "Menggabungkan menjadi 1 blok teks besar"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Berikut adalah 3 artikel berita keuangan teratas hari ini:\n\n{{$json.text}}\n\n-----\n\nBerdasarkan teks di atas, tolong \"Berikan 3 Poin Utama Pergerakan Pasar Hari Ini.\"",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        176,
        96
      ],
      "id": "47133077-504e-44ff-b456-b51382c0c1b8",
      "name": "Basic LLM Chain",
      "retryOnFail": false
    },
    {
      "parameters": {
        "chatId": "1058977903",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        96
      ],
      "id": "3d322870-8cc8-440d-a1fa-34191ccc399a",
      "name": "Send a text message",
      "webhookId": "64ed5e32-3bbc-4080-8bea-8959560ecc18",
      "credentials": {
        "telegramApi": {
          "id": "4Sc0xcV51HGmBTaZ",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        304
      ],
      "id": "afd3eced-48d4-4990-a0c0-e3498b17eb7a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nB4PiFo3BAv6TVOE",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CNBC Indonesia RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Finance Detik RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CNBC Indonesia RSS": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Detik RSS": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Menggabungkan 2 Output RSS": {
      "main": [
        [
          {
            "node": "Membatasi hanya 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membatasi hanya 10": {
      "main": [
        [
          {
            "node": "Unduh halaman web dari setiap URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unduh halaman web dari setiap URL": {
      "main": [
        [
          {
            "node": "Clean kode HTML dan ekstrak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean kode HTML dan ekstrak": {
      "main": [
        [
          {
            "node": "Menggabungkan menjadi 1 blok teks besar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menggabungkan menjadi 1 blok teks besar": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8e4b221e-ace4-4dc0-a03f-8fa2bb533cd6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1201a04715f144c2d49959fa0087564a4bf0849031ef399d09b1b937502bdabb"
  },
  "id": "Tu8B4kdKK6xf0oqL",
  "tags": []
}